<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="files/spring-default.xml" />
    <import resource="files/spring-database.xml" />
    <import resource="files/spring-security-oauth.xml" />
    <import resource="files/spring-security.xml" />
    <import resource="files/spring-mail.xml" />

</beans>